<!DOCTYPE html>

<html ng-app="app" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Vienna Underground</title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/figures.css">
</head>

<body>

    <div class="container" ng-controller="MainCtrl">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" rel="icon" type="image/ico" href="favicon.ico">
                        Vienna Underground
                        <!--<img alt="Brand" src="favicon.ico" height="30" width="30">-->
                    </a>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <label>Start</label>
            <select class="form-control" ng-model="journey.startpoint" ng-options="x.name for x in stations">
            </select>
            <br>
            <label>End</label>
            <select class="form-control" ng-model="journey.endpoint" ng-options="x.name for x in stations">
            </select>
            <br>

            <div class="alert alert-danger" ng-show="checkequal(journey.startpoint,journey.endpoint)">Start and End can not be the same</div>

            <button class="btn btn-primary btn-block" ng-click="request(journey)">Request Route</button>
        </div>


        <div class="container" ng-show="showresult">
            <div class="row">
                <div class="col-sm-6" align="center">
                    <h2>Start : {{startime}}</h2></div>
                <div class="col-sm-6" align="center">
                    <h2>Estimated End : {{endtime}}</h2></div>
            </div>
        </div>

        <table class="table table-bordered table-hover table-condensed">

            <col align="center">
                <col align="left">
                    <col align="right">

                        <tr style="font-weight: bold">
                            <td></td>
                            <td>Station</td>
                            <td>Time</td>
                        </tr>


                        <tr ng-repeat="x in departures">
                            <td align="center">
                                U1
                                <div class="full-circle">
                                    <div>
                            </td>
                            <td>
                                <strong>{{x._name}}</strong>
                            </td>
                            <td>
                                <strong>{{formatnumber(x.itdDateTime.itdTime._hour)}}:{{formatnumber(x.itdDateTime.itdTime._minute)}}</strong>
                            </td>
                        </tr>
        </table>


        <script type="text/javascript" src="dependencies/jquery.min.js"></script>
        <script type="text/javascript" src="dependencies/xml2json.js"></script>
        <script type="text/javascript" src="dependencies/bootstrap.min.js"></script>
        <script type="text/javascript" src="dependencies/angular.min.js"></script>
        <script type="text/javascript" src="dependencies/ui-bootstrap-tpls-1.3.2.js"></script>
        <script type="text/javascript" src="dependencies/angular-resource.min.js"></script>
        <script type="text/javascript" src="dependencies/angular-route.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

        <!--<script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/my-service-worker.js').then(function() { 
            console.log("Service Worker Registered"); 
            });
            }
        </script>-->

</body>

</html>